{% extends "base.html" %}
{%load static%}


{% load crispy_forms_tags %}
{% crispy form form.helper %}


{% block estilo %}{% endblock %}


{% block content %}

{% if form.errors %}
<p>Su usuario y/o contraseña no coinciden. Intente de nuevo.</p>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
    <p>Su usuario no cuenta con el permiso para acceder a este lugar. Para proseguir logee con una cuenta con permiso</p>
{% else %}
<div class="container" style="text-align: center; color: red;">
    <h3>Por favor, logea para acceder a este sitio</h3>
</div>
{% endif %}
{% endif %}

<div class="container" >
    <div class="row mt-4 text-center" >
        <div class="col-12">
            <h1 class="brand" style="color:white">Log-in</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-7">
            <div class="card ml-4 mt-4 mb-4" style="background-color: white">
                <div class="card-body">
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        {{ form|crispy }}
                        
                        <button type="submit" class='btn btn-primary' name="Submit">Login</button>

                        <!--
                        <a href="{% url 'password_reset' %}" class="ml-4">Olvidaste la Contraseña?</a> 
                        -->
                        <a href="{% url 'signup' %}" class="ml-4">No estas Registrado?</a>
                    </form>
                   
              </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}