
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

  <div class="carousel-inner" >

    <div class="carousel-item active" >
      <a class="text-center" href="{% url 'producto-detalle' productos.0.id %}" style="color:#66fcf1">
        <h1>{{productos.0.nombre}}</h1>
        <img src="{{ productos.0.imagenes.0.imagen.url }}" class="img-fluid img-thumbnail mx-auto d-block" alt="producto1" style="height:300px">
      </a>
    </div>

    <div class="carousel-item">
      <a class="text-center" href="{% url 'producto-detalle' productos.1.id %}" style="color:#66fcf1">
        <h1>{{productos.1.nombre}}</h1>
        <img src="{{ productos.1.imagenes.0.imagen.url }}" class="img-fluid img-thumbnail mx-auto d-block" alt="producto2" style="height:300px">
      </a>
    </div>

    <div class="carousel-item">
      <a class="text-center" href="{% url 'producto-detalle' productos.2.id %}" style="color:#66fcf1">
        <h1>{{productos.2.nombre}}</h1>
        <img src="{{ productos.2.imagenes.0.imagen.url }}" class="img-fluid img-thumbnail mx-auto d-block" alt="producto3" style="height:300px">
      </a>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>