<div class="modal fade" id="myModal{{item.id}}" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header justify-contenr-center">
        <h4 class="modal-title">Eliminar Producto</h4>
      </div>
      <div class="modal-body text-center">
      	<p>¿Seguro desea eliminar estre producto del carrito?</p>
        <form action="{% url 'eliminar-item' item.id %}" class="post-form" method = 'POST'>
        	{% csrf_token %}
        	{{ item.producto.nombre }}
        	
        	<br>
        	<div class="modal-footer">
        	  <button type="submit" class='btn btn-danger' name="Submit">Confirmar</button>
        	  <a class='btn btn-primary' href="">Cancelar</a>
        	</div>
        	
        </form>
        
      </div>
      
    </div>
    
  </div>
</div>