{% extends "base.html" %} 

{% load static %} 

{% load crispy_forms_tags %}
{% crispy form form.helper %}

{% block estilo %}
<link rel="stylesheet" href="{% static 'productosCategoria.css' %}" />
{% endblock %} 

{% block content %}

<div class="container">

    <div class="row">
      <div class="col-12 text-center">
        <h1 class="brand" style="color: white">Busqueda Avanzada</h1>
      </div>
    </div>

    <div class="row" >
      <div class="col" >
        <div class="card justify-content-center mt-4 mb-4" style="background-color: white">
          <div class="card-body">
            <form method="GET" action="/search" class="form-inline my-2 my-lg-0" >

              <input class="form-control mr-sm-2 mx-auto mx-md-2" type="text" name="nombre" placeholder="Nombre del producto" aria-label="Search">

              <select id="categorias" name="categoria" class="form-control mr-sm-2 mx-auto mx-md-2" >
              {% if hayCategorias %}
                <option value="" selected="">Todas las categorias</option>
              {% for categoria in categorias %}
                <option value="{{ categoria.nombre }}">{{ categoria.nombre }}</option>
              {% endfor %}
              {% else %}
                <option value="" selected>No disponible</option>
              {% endif %}
              </select>

              <input class="form-control mr-sm-2 mx-auto mx-md-2" type="text" name="descripcion" placeholder="Descripcion" aria-label="Search">
              <input class="form-control mr-sm-2 mx-auto mx-md-2" type="number" name="precio" placeholder="Precio máximo" aria-label="Search"> 
              <button class="btn btn-primary my-2 my-sm-0 mx-auto mx-md-2" type="submit">Buscar</button>

            </form>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="container">
  <div class="row">
    {% for producto in productosList %}
      {% include 'market/producto_card.html' %}
    {% endfor %}
  </div>
</div>

<!--{*{}*} para datos dinamicos
    {*% %*} para logica dinamica-->
{% endblock %}
