<div class="col-sm-12 col-md-6 col-lg-3 mb-4">
    <div class="card justify-content-center " style="background-color: #0b0c10;">
          <div class="card-body">
            <div class="product-grid mt-2">
              <div class="product-image">
                <a href="#">
                  <img class="img-thumbnail" src="{{ producto.imagenes.0.imagen.url }}" /> 
                </a>
                <ul class="social">
                  <li>
                    <a href="{% url 'carrito-add' producto.id %}" data-tip="Al carrito"><i class="fa fa-shopping-cart"></i></a>
                  </li>
                  <li>
                    <a href="{% url 'Like' producto.id %}" data-tip="Like"><i class="fa fa-heart"></i></a>
                  </li>
                  
                  <li>
                    <a href="{% url 'producto-detalle' producto.id %}" data-tip="Ver"><i class="fa fa-search"></i></a> 
                  </li>
                </ul>
              </div>
              <div class="product-content mb-2">
                <h3 class="title">{{producto.nombre}}</h3>
                <div class="price">${{producto.precio}}</div>
              </div>
            </div>
          </div>
    </div>
</div>