<div class="col-sm-12 col-md-6 col-lg-3 mb-4">
    <div class="card justify-content-center " style="background-color: #0b0c10;">
          <div class="card-body">
            <div class="product-grid">
              <div class="product-image">
                <a href="#">
                  <img class="img-thumbnail" src="{{ producto.imagenes.0.imagen.url }}" /> <!-- esto tiene que ser dinamico-->
                </a>
                <ul class="social">
                  <li>
                    <a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a> <!--añadir al carrito, falta terminar-->
                  </li>
                  <li>
                    <a href="#" data-tip="Wishlist"><i class="fa fa-heart"></i></a> <!--darle me gusta, falta terminar-->
                  </li>
                  
                  <li>
                    <a href="{% url 'producto-detalle' producto.id %}" data-tip="Quick View"><i class="fa fa-search"></i></a> <!-- ver el producto-->
                  </li>
                </ul>
              </div>
              <div class="product-content mb-2">
                <h3 class="title">{{producto.nombre}}</h3>
                <div class="price">${{producto.precio}}</div>
              </div>
            </div>
          </div>
    </div>
</div>