{% extends "base.html" %}
<head>
  {% block estilo %}
  <link rel="stylesheet" href="../static/signup.css" />
  {% endblock %}
</head>

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="brand"><span> HardStore </span>SignUp</h1>
    </div>
  </div>

  <!--aca van los inputs para registrarse-Joma-->
  <div class="registro">
    <form>
      <div class="row">
        <div class="col-sm-12 col-lg-6">
          <label>Email</label>
          <input type="email" name="Email" />
        </div>

        <div class="col-sm-12 col-lg-6">
          <label>Contraseña</label>
          <input type="password" name="Contraseña" />
        </div>

        <div class="col-sm-12 col-lg-6">
          <button type="button" class="btn btn-success">
            login
          </button>
        </div>

        <div class="col-sm-12 col-lg-6">
          <h5>No estas registrado? <a href="signup/">Registrate!</a></h5>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}

<!--esto es una prueba -->
