{% extends "base.html" %}
<head>
  {% block estilo %}
  <link rel="stylesheet" href="../static/login.css" />
  {% endblock %}
</head>

{% block content %}

<form action="LogIn.html" class="login-form">
  <h1>HardStore Login</h1>

  <div class="txtb">
    <input type="text" />
    <!-- SPAN hace bloques de elementos como div, pero en linea- Joma-->
    <span data-placeholder="Username"></span>
  </div>
  <div class="txtb">
    <input type="password" />
    <span data-placeholder="Pasword"></span>
  </div>

  <input type="submit" class="logbtn" value="Login" />

  <div class="bottom-text">
    No tenes una cuenta? <a href="#">Registrate!</a>
  </div>
</form>

{% endblock %}

<!--esto es una prueba -->
