{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!--establece la codificacion de caracteres-->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Ajusta las paginas a la pantalla-->
    <!-- Bootstrap -->

    {% block estilo %}{% endblock %}
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    
    {% if titulo %}
    <title>HardStore - {{ titulo }}</title>
    {% else %}
    <title>HardStore</title>
    {% endif %}

    <style type="text/css"></style>
  </head>
  <body style="background-color: #0b0c10;">
    
    <div class="container-fluid text-center py-3" style="background-color: #1f2833">
      <h1 style="color: #66fcf1">HardStore</h1>
      <img src="{% static 'market/icono.png' %}" class="card-img-top" style="width:50px" /> <!--Ejemplo para logo de la pagina - Agus -->
    </div>
    <!--este es el encabezado - Agus -->
    <header style="background-color: #45a29e">
      <form class="navbar-form" role="search" style="float: right;">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
          </div>
        </div>
      </form>
      <!--esta es la barra de navegacion - Agus -->
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="../" style="color: #1f2833;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color: #1f2833;">Sobre Nosotros</a>
        </li>
        <li class="nav-item">
          <!--href se dirige a url de hardstore- Joma-->
          <a class="nav-link" href="../login/" style="color: #1f2833;">LogIn</a>
        </li>
        <li class="nav-item">
          <div class="dropdown">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Categorias
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Procesadores</a>
              <a class="dropdown-item" href="#">MotherBoard</a>
              <a class="dropdown-item" href="#">Placas Graficas</a>
            </div>
          </div>
        </li>
      </ul>
    </header>

    {% block content %}{% endblock %}
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
