<!--Empieza elemento carousel - Agus -->
<div id="carrusel2" class="carousel slide" data-ride="carousel" >
  <div class="carousel-inner">

    <!--Empieza primer item de tres cards - Agus -->
    <div class="carousel-item active">

        <div class="row justify-content-center">
          <div class="d-none col-md-4 d-md-block" >
            <div class="card" style="width:200px">
              <img src="procesador.jpg" class="card-img-top" />
              <div class="card-body">
                <h4 class="card-title">
                  Nombre del producto
                </h4>
                <p class="card-text">
                  Descripcion del producto
                </p>
                <button type="button" class="btn btn-warning">
                  Ver producto
                </button>
              </div>
            </div>
          </div>
          <div class="col-8 col-md-4 d-md-block " >
            <div class="card" style="width:200px" >
              <img src="procesador.jpg" class="card-img-top" />
              <div class="card-body">
                <h4 class="card-title">
                  Nombre del producto
                </h4>
                <p class="card-text">
                  Descripcion del producto
                </p>
                <button type="button" class="btn btn-warning">
                  Ver producto
                </button>
              </div>
            </div>
          </div>
          <div class="d-none col-md-4 d-md-block" >
            <div class="card" style="width:200px">
              <img src="procesador.jpg" class="card-img-top" />
              <div class="card-body">
                <h4 class="card-title">
                  Nombre del producto
                </h4>
                <p class="card-text">
                  Descripcion del producto
                </p>
                <button type="button" class="btn btn-warning">
                  Ver producto
                </button>
              </div>
            </div>
          </div>
        </div>
    </div>
    <!--termina primer item- Agus -->

    <!--Empieza segundo item de tres cards - Agus -->
    <div class="carousel-item">
      
        <div class="row justify-content-center">
          <div class="d-none col-md-4 d-md-block justify-content-center" >
            <div class="card" style="width:200px">
              <img src="procesador.jpg" class="card-img-top" />
              <div class="card-body">
                <h4 class="card-title">
                  Nombre del producto
                </h4>
                <p class="card-text">
                  Descripcion del producto
                </p>
                <button type="button" class="btn btn-warning">
                  Ver producto
                </button>
              </div>
            </div>
          </div>
          <div class="col-8 col-md-4 d-md-block justify-content-center" >
            <div class="card" style="width:200px" >
              <img src="procesador.jpg" class="card-img-top" />
              <div class="card-body">
                <h4 class="card-title">
                  Nombre del producto
                </h4>
                <p class="card-text">
                  Descripcion del producto
                </p>
                <button type="button" class="btn btn-warning">
                  Ver producto
                </button>
              </div>
            </div>
          </div>
          <div class="d-none col-md-4 d-md-block justify-content-center" >
            <div class="card" style="width:200px">
              <img src="procesador.jpg" class="card-img-top" />
              <div class="card-body">
                <h4 class="card-title">
                  Nombre del producto
                </h4>
                <p class="card-text">
                  Descripcion del producto
                </p>
                <button type="button" class="btn btn-warning">
                  Ver producto
                </button>
              </div>
            </div>
          </div>
        </div>
      
    </div>
    <!--termina segundo item - Agus -->
  </div>
</div>
<!--termina elemento carousel - Agus -->
<a href="#carrusel2" class="carousel-control-prev" data-slide="prev">
  <span class="carousel-control-prev-icon"></span>
</a>
<a href="#carrusel2" class="carousel-control-next" data-slide="next">
  <span class="carousel-control-next-icon"></span>
</a>