<!--Empieza elemento carousel - Agus -->
<div id="carrusel_destacados" class="carousel slide" data-ride="carousel" >
  <div class="carousel-inner">

    <!--Empieza primer item de tres cards - Agus -->
    <div class="carousel-item active">

        <div class="row justify-content-center">
          <div class="d-none col-md-4 d-md-block" >
            <div class="card" style="width:200px">
              <img src="{{destacados.0.imagen.url}}" class="card-img-top" />
              <div class="card-body">
                <h4 class="card-title">
                  {{destacados.0.nombre}}
                </h4>
                <p class="card-text">
                  {{destacados.0.descripcion}}
                  Precio: {{destacados.0.precio}}
                </p>
                <button type="button" class="btn btn-warning">
                  Ver producto
                </button>
              </div>
            </div>
          </div>
          <div class="col-8 col-md-4 d-md-block " >
            <div class="card" style="width:200px" >
              <img src="{{destacados.1.imagen.url}}" class="card-img-top" />
              <div class="card-body">
                <h4 class="card-title">
                  {{destacados.1.nombre}}
                </h4>
                <p class="card-text">
                  {{destacados.1.descripcion}}
                  Precio: {{destacados.1.precio}}
                </p>
                <button type="button" class="btn btn-warning">
                  Ver producto
                </button>
              </div>
            </div>
          </div>
          <div class="d-none col-md-4 d-md-block" >
            <div class="card" style="width:200px">
              <img src="{{destacados.2.imagen.url}}" class="card-img-top" />
              <div class="card-body">
                <h4 class="card-title">
                  {{destacados.2.nombre}}
                </h4>
                <p class="card-text">
                  {{destacados.2.descripcion}}
                  Precio: {{destacados.2.precio}}
                </p>
                <button type="button" class="btn btn-warning">
                  Ver producto
                </button>
              </div>
            </div>
          </div>
        </div>
    </div>
    <!--termina primer item- Agus -->

    <!--Empieza segundo item de tres cards - Agus -->
    <div class="carousel-item">
      
        <div class="row justify-content-center">
          <div class="d-none col-md-4 d-md-block justify-content-center" >
            <div class="card" style="width:200px">
              <img src="{{destacados.3.imagen.url}}" class="card-img-top" />
              <div class="card-body">
                <h4 class="card-title">
                  {{destacados.3.nombre}}
                </h4>
                <p class="card-text">
                  {{destacados.3.descripcion}}
                  Precio: {{destacados.3.precio}}
                </p>
                <button type="button" class="btn btn-warning">
                  Ver producto
                </button>
              </div>
            </div>
          </div>
          <div class="col-8 col-md-4 d-md-block justify-content-center" >
            <div class="card" style="width:200px" >
              <img src="{{destacados.4.imagen.url}}" class="card-img-top" />
              <div class="card-body">
                <h4 class="card-title">
                  {{destacados.4.nombre}}
                </h4>
                <p class="card-text">
                  {{destacados.4.descripcion}}
                  Precio: {{destacados.4.precio}}
                </p>
                <button type="button" class="btn btn-warning">
                  Ver producto
                </button>
              </div>
            </div>
          </div>
          <div class="d-none col-md-4 d-md-block justify-content-center" >
            <div class="card" style="width:200px">
              <img src="{{destacados.5.imagen.url}}" class="card-img-top" />
              <div class="card-body">
                <h4 class="card-title">
                  {{destacados.5.nombre}}
                </h4>
                <p class="card-text">
                  {{destacados.5.descripcion}}
                  Precio: {{destacados.5.precio}}
                </p>
                <button type="button" class="btn btn-warning">
                  Ver producto
                </button>
              </div>
            </div>
          </div>
        </div>
      
    </div>
    <!--termina segundo item - Agus -->
  </div>
</div>
<!--termina elemento carousel - Agus -->
<a href="#carrusel_destacados" class="carousel-control-prev" data-slide="prev">
  <span class="carousel-control-prev-icon"></span>
</a>
<a href="#carrusel_destacados" class="carousel-control-next" data-slide="next">
  <span class="carousel-control-next-icon"></span>
</a>