{% extends "base.html" %} 

{% load static %}
<!--aca van la barra de navegacioin -Joma-->
{% block content %}

    <!-- PRODUCTOS EN OFERTA CARRUSEL -->
    <div class="container-fluid" > <!--En width = 991px a mas chico empieza a mostrarse mal  - Agus -->
      <div class="row" style="margin-top:80px">
        <div class="col-12 text-center" style="background-color: white">
              <h3>Productos en oferta</h3>
        </div>
      </div>
      <div class="row" style="margin-top: 50px">
        <div class="col-12 ">  

        <!-- Lo que busco es que no se muestre el carousel o achicarlo a un elemento, hasta que la pantalla sea mas grande que 991px, lo defino en un style en head - Agus -->

          <!--Empieza elemento carousel - Agus -->
          <div id="inam" class="carousel slide" data-ride="carousel" data-interval="false">
            <div class="carousel-inner" ><!--Puedo definir el carousel inner dentro de un container y simplificar el codigo-->

              <!--Empieza primer item de tres cards - Agus -->
              <div class="carousel-item active">

                  <div class="row justify-content-center">
                    <div class="d-none col-md-4 d-md-block" >
                      <div class="card" style="width:200px">

                        <img src="{% static 'market/procesador.jpg' %}" class="card-img-top" />
                        <div class="card-body">
                          <h4 class="card-title">
                            Nombre del producto 
                          </h4>
                          <p class="card-text">
                            Descripcion del producto
                          </p>
                          <button type="button" class="btn btn-warning">
                            Ver producto
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-8 col-md-4 d-md-block " >
                      <div class="card" style="width:200px" >
                        <img src="procesador.jpg" class="card-img-top" />
                        <div class="card-body">
                          <h4 class="card-title">
                            Nombre del producto
                          </h4>
                          <p class="card-text">
                            Descripcion del producto
                          </p>
                          <button type="button" class="btn btn-warning">
                            Ver producto
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="d-none col-md-4 d-md-block" >
                      <div class="card" style="width:200px">
                        <img src="procesador.jpg" class="card-img-top" />
                        <div class="card-body">
                          <h4 class="card-title">
                            Nombre del producto
                          </h4>
                          <p class="card-text">
                            Descripcion del producto
                          </p>
                          <button type="button" class="btn btn-warning">
                            Ver producto
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                
              </div>
              <!--termina primer item- Agus -->

              <!--Empieza segundo item de tres cards - Agus -->
              <div class="carousel-item">
                
                  <div class="row justify-content-center">
                    <div class="d-none col-md-4 d-md-block" >
                      <div class="card" style="width:200px">
                        <img src="procesador.jpg" class="card-img-top" />
                        <div class="card-body">
                          <h4 class="card-title">
                            Nombre del producto
                          </h4>
                          <p class="card-text">
                            Descripcion del producto
                          </p>
                          <button type="button" class="btn btn-warning">
                            Ver producto
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-8 col-md-4 d-md-block" >
                      <div class="card" style="width:200px" >
                        <img src="procesador.jpg" class="card-img-top" />
                        <div class="card-body">
                          <h4 class="card-title">
                            Nombre del producto
                          </h4>
                          <p class="card-text">
                            Descripcion del producto
                          </p>
                          <button type="button" class="btn btn-warning">
                            Ver producto
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="d-none col-md-4 d-md-block" >
                      <div class="card" style="width:200px">
                        <img src="procesador.jpg" class="card-img-top" />
                        <div class="card-body">
                          <h4 class="card-title">
                            Nombre del producto
                          </h4>
                          <p class="card-text">
                            Descripcion del producto
                          </p>
                          <button type="button" class="btn btn-warning">
                            Ver producto
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                
              </div>
              <!--termina segundo item - Agus -->
            </div>
          </div>
          <!--termina elemento carousel - Agus -->
          <a href="#inam" class="carousel-control-prev" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a href="#inam" class="carousel-control-next" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>

        
      </div>
      <!--termina elemento carousel-->
    </div>
    <!--  TERMINA PRODUCTOS EN OFERTA CARRUSEL -->

    <!-- PRODUCTOS DESTACADOS CARRUSEL -->
    <div class="container-fluid" >
      <div class="row" style="margin-top:50px">
        <div class="col-12 text-center" style="background-color: white">
              <h3>Destacados</h3>
        </div>
      </div>
      <div class="row" style="margin-top: 50px">
        <div class="col-12 ">  

          <!--Empieza elemento carousel - Agus -->
          <div id="carrusel2" class="carousel slide" data-ride="carousel" >
            <div class="carousel-inner">

              <!--Empieza primer item de tres cards - Agus -->
              <div class="carousel-item active">

                  <div class="row justify-content-center">
                    <div class="d-none col-md-4 d-md-block" >
                      <div class="card" style="width:200px">
                        <img src="procesador.jpg" class="card-img-top" />
                        <div class="card-body">
                          <h4 class="card-title">
                            Nombre del producto
                          </h4>
                          <p class="card-text">
                            Descripcion del producto
                          </p>
                          <button type="button" class="btn btn-warning">
                            Ver producto
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-8 col-md-4 d-md-block " >
                      <div class="card" style="width:200px" >
                        <img src="procesador.jpg" class="card-img-top" />
                        <div class="card-body">
                          <h4 class="card-title">
                            Nombre del producto
                          </h4>
                          <p class="card-text">
                            Descripcion del producto
                          </p>
                          <button type="button" class="btn btn-warning">
                            Ver producto
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="d-none col-md-4 d-md-block" >
                      <div class="card" style="width:200px">
                        <img src="procesador.jpg" class="card-img-top" />
                        <div class="card-body">
                          <h4 class="card-title">
                            Nombre del producto
                          </h4>
                          <p class="card-text">
                            Descripcion del producto
                          </p>
                          <button type="button" class="btn btn-warning">
                            Ver producto
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              <!--termina primer item- Agus -->

              <!--Empieza segundo item de tres cards - Agus -->
              <div class="carousel-item">
                
                  <div class="row justify-content-center">
                    <div class="d-none col-md-4 d-md-block justify-content-center" >
                      <div class="card" style="width:200px">
                        <img src="procesador.jpg" class="card-img-top" />
                        <div class="card-body">
                          <h4 class="card-title">
                            Nombre del producto
                          </h4>
                          <p class="card-text">
                            Descripcion del producto
                          </p>
                          <button type="button" class="btn btn-warning">
                            Ver producto
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-8 col-md-4 d-md-block justify-content-center" >
                      <div class="card" style="width:200px" >
                        <img src="procesador.jpg" class="card-img-top" />
                        <div class="card-body">
                          <h4 class="card-title">
                            Nombre del producto
                          </h4>
                          <p class="card-text">
                            Descripcion del producto
                          </p>
                          <button type="button" class="btn btn-warning">
                            Ver producto
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="d-none col-md-4 d-md-block justify-content-center" >
                      <div class="card" style="width:200px">
                        <img src="procesador.jpg" class="card-img-top" />
                        <div class="card-body">
                          <h4 class="card-title">
                            Nombre del producto
                          </h4>
                          <p class="card-text">
                            Descripcion del producto
                          </p>
                          <button type="button" class="btn btn-warning">
                            Ver producto
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                
              </div>
              <!--termina segundo item - Agus -->
            </div>
          </div>
          <!--termina elemento carousel - Agus -->
          <a href="#carrusel2" class="carousel-control-prev" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a href="#carrusel2" class="carousel-control-next" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>

      </div> <!-- Sliders del carrusel -->
    </div>
    <!-- TERMINA PRODUCTOS EN OFERTA CARRUSEL -->
  </div>
</div>

{% endblock %} 