<style>
  .helloMSG {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-left: 800px;
    margin-top: auto;
  }
</style>

<nav class="navbar navbar-expand-lg">
  
  <a class="navbar-brand" href="{% url 'home' %}" ><i class="fas fa-home" style="color:#1f2833"></i></a>

  <span class="nav-link mr-auto" href="#" style="color: #1f2833;">{{request.user}}<i class="fas fa-user" style="color:#1f2833"></i></span>

  <form method="GET" action="/search" class="form-inline">

    <input class="form-control d-none d-lg-block" type="text" name="nombre" placeholder="Buscar..." aria-label="Search">
    <button class="btn my-2 my-sm-0" type="submit"><i class="fas fa-search" style="color:#1f2833"></i></button>
    
  </form>

  <a class="navbar-brand" href="{% url 'carrito' %}" ><i class="fas fa-cart-plus" style="color:#1f2833"></i></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-align-justify" style="color:#1f2833"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}" style="color: #1f2833;">LogIn</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}" style="color: #1f2833;">LogOut</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #1f2833;"><i class="fas fa-tags"></i></a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'productos-categoria-list' 1 %}">Procesadores</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'productos-categoria-list' 2 %}">Placas Graficas</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'productos-categoria-list' 3 %}">MotherBoard</a>
        </div>
      </li>
    </ul>
  </div>
</nav>