{% extends "base.html" %} {% load static %} {% block estilo %}
<link rel="stylesheet" href="../static/variosProductos.css" />

{% endblock %} {% block content %}

<div class="container-fluid">
  <h2>Procesadores</h2>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="product-top">
        <img src="../static/Img/nvidea.jpg" alt="" />
        <div class="overlay">
          <button type="button" class="btn btn-secondary" title="Ver">
            <i class="fas fa-eye"></i>
          </button>
          <button type="button" class="btn btn-secondary" title="Add to cart">
            <i class="fas fa-cart-plus"></i>
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            title="Add to Wishlist"
          >
            <i class="fas fa-heart"></i>
          </button>
        </div>
      </div>
      <div class="producto-bottom text-center">
        <h3>Nombre del Producto</h3>
        <h5>100.00$</h5>
      </div>
    </div>
  </div>
</div>
{% endblock %}
