.container {
  margin-top: 100px;
}

.categoria {
  background: green;
  width: 100px;
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.col-md-7 {
  color: #555;
}

.price {
  color: #fe980f;
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
}

input {
  border: 1px solid #ccc;
  font-weight: bold;
  height: 33px;
  text-align: center;
  width: 30px;
}

.carrito {
  background-color: #fe980f;
  color: #fff;
  font-size: 15px;
  margin-left: 20px;
}

img {
  width: 70%;
  height: 70%;
}

.formulario {
  background-color: white;
  padding: 1em;
}

.formulario form label {
  display: block;
}

.formulario form input {
  width: 70%;
  padding: 0.5em;
  border: 2px solid #c9e6ff;
}

.formulario form button {
  width: 40%;
  padding: 0.5em;
  border: 1px;
  text-transform: uppercase;
  float: left;
  margin-top: 30px;
}

.formulario form h5 {
  margin-top: 30px;
}