.container-fluid {
  width: 100%;
  margin-top: 10%;
  font-family: sans-serif;
  letter-spacing: 1px;
  background-color: blue;
}

.container-fluid h2 {
  background: #0062cc;
  color: #fff;
  width: 200px;
  font-size: 24px;
  padding: 5px;
  height: 40px;
}

.container-fluid h2::after {
  content: "";
  border-top: 40px solid #0062cc;
  border-right: 40px solid transparent;
  position: relative;
  left: 48px;
  top: 34px;
}

.row {
  margin-top: 30px;
}

img {
  width: 50%;
  height: 50%;
}

.product-bottom h3 {
  font-size: 20px;
  font-weight: bold;
}

.product-bottom h5 {
  font-size: 15px;
  padding-bottom: 10px;
}

.overlay {
  display: block;
  opacity: 0;
  position: absolute;
  top: 10%;
  margin-left: 0;
  width: 70px;
}
