{% extends "base.html" %} {%load static%}

<head>
  {% block estilo %}

  <link rel="stylesheet" href="{% static 'signup.css' %}" />
  {% endblock %}
</head>

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="brand"><span> HardStore </span>Register</h1>
    </div>
  </div>

  <div class="registro">
    <form method="POST" action="">
      {% csrf_token %}
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
          {{ form.as_p }}
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4">
          <input class="btn btn_success" type="submit" value="Registrarse" />
        </div>
      </div>
      <!--
      <div class="input-group mb-3">
        <div class="input-group-append">
          <span class="input-group-text"><i class="fas fa-user"></i></span>
        </div>
        <label for="username">Username</label>
        <input type="text" name="username">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-append">
          <span class="input-group-text"><i class="fas fa-user"></i></span>
        </div>
        <label for="first_name">First Name</label>
        <input type="text" name="first_name">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-append">
          <span class="input-group-text"><i class="fas fa-user"></i></span>
        </div>
        <label for="last_name">Last Name</label>
        <input type="text" name="last_name">
      </div>
      <div class="input-group mb-2">
        <div class="input-group-append">
          <span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
        </div>
        <label for="email">Email</label>
        <input type="email" name="email">
      </div>
      <div class="input-group mb-2">
        <div class="input-group-append">
          <span class="input-group-text"><i class="fas fa-key"></i></span>
        </div>
        <label for="password1">Password</label>
        <input type="text" name="password1">
      </div>
      <div class="input-group mb-2">
        <div class="input-group-append">
          <span class="input-group-text"><i class="fas fa-key"></i></span>
        </div>
        <label for="password2">Repeat Password</label>
        <input type="text" name="password2">
      </div>
      
      <div class="d-flex justify-content-center mt-3 login_container">
        <input class="btn login_btn" type="submit" value="Register Account">
      </div>
    -->
    </form>
  </div>
</div>

<!--
  <div class="col-sm-12 col-md-6 col-lg-4">
    {{form.last_name.label}} {{form.last_name}}
  </div>
    
      <div class="col-sm-12 col-md-6 col-lg-4">
        {{form.username.label}} {{form.username}}
      </div>
    
      <div class="col-sm-12 col-md-6 col-lg-4">
        {{form.email.label}} {{form.email}}
      </div>
    
      <div class="col-sm-12 col-md-6 col-lg-4">
        {{form.password1.label}} {{form.password1}}
      </div>
    
      <div class="col-sm-12 col-md-6 col-lg-4">
        {{form.password2.label}} {{form.password2}}
      </div>
    
      <div class="col-sm-12 col-md-6 col-lg-4">
        {{form.is_superuser.label}} {{form.is_superuser}}
      </div>
    
      {{forms.error}}
      -->
<!--
  <form method="POST" action="">

  {% csrf_token %}
  {{form.as_p}} form mandado desde las Views

  {{form.username.label}}
  {{form.username}}

  <input type="submit" name="Register">

</form>

-->

<!--
  <h2>Sign up Form</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
    <p>
      {{ field.label_tag }}<br>
      {{ field }}
      {% if field.help_text %}
      <small style="color: grey">{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
      <p style="color: red">{{ error }}</p>
      {% endfor %}
    </p>
    {% endfor %}
    <button type="submit">Sign up</button>
  </form>
-->
{% endblock content %}